body
{
	background-image: linear-gradient(141deg, #FA8072 0%, #F08080 51%, #FFA07A 75%);
}

h1
{
	text-align: center;
}

/*Bar de navigation*/
*
{
	margin: 0;
	padding: 0;
}
nav
{
	width: 100%;
	margin: 0 auto;
	background-color: #FA8072, #F08080, #FFA07A;
	position: sticky;
	top: 0px;
}

nav ul
{
	list-style-type: none;
}

nav ul li
{
	float: left;
	width: 25%;
	text-align: center;
	position: relative;
}

nav ul::after
{
	content: "";
	display: table;
	clear: both;
}

nav a
{
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid gold;
	padding: 10px 0px;
}

nav a:hover
{
	color: orange;
	border-bottom: 2px solid gold;
}

.sous
{
	display: none;
	box-shadow: 0px 1px 2px #CCC;
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: 1000;
}

nav > ul li:hover .sous
{
	display: block;
}

.sous li
{
	float: none;
	width: 100%;
	text-align: left;
}

.sous a
{
	padding: 10px;
	border-bottom: none;
}

.sous a hover
{
	border-bottom: none;
	background-color: rgba(200,200,200,0.1);
}

/*Fin bar nav*/

/*Sommaire*/
.Sommaire
{
	display: flex;
	flex-direction: row;
}
/*fin Sommaire*/

/*Sublime Text*/
.logo1
{
	height: 100px;
	width: 100px;
}

.SublimeText
{
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding-top:10px;
  padding-bottom:10px;
  text-align: center;
  background: #FA8072, #F08080, #FFA07A;
}
/*Fin Sublime Text*/

/*Visual*/
.logo2
{
	height: 100px;
	width: 100px;
}

.VisualStudio
{
	display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding-top:10px;
  padding-bottom:10px;
  text-align: center;
  background: #FA8072, #F08080, #FFA07A;
}
/*Fin Visual*/

/*Notepad*/
.logo3
{
	height: 100px;
	width: 100px;
}

.Notepad
{
	display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding-top:10px;
  padding-bottom:10px;
  text-align: center;
  background: #FA8072, #F08080, #FFA07A;
}
/*Fin Notepad*/